<!DOCTYPE html>
<html lang="<%= kieli %>">

<head>
    <meta charset="UTF-8">
    <title>
        <%= otsikko %>
    </title>
    <link rel="stylesheet" href="/tyylit/tyylit.css">
</head>

<body>
    <main>
        <h1>
            <%= aihe %>
        </h1>
